
/*INDEX*/
$colorfondo: #C14748;
$blanco: white;
/*FIN INDEX*/

/*LOGIN*/
$colornav: #2B2C30;
$colorfondogris: #E2E2E2;
/*FIN LOGIN*/

/*CUENTA*/
$colorletra: #963636;
$negro: black;
/*FIN CUENTA*/

$red: #C14748;
$font: 'Nunito', sans-serif;

$nav:#2B2C30;

$nav:#2B2C30;

